<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.d2d">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditService"></activity>
        <activity android:name=".EditUser" />
        <activity android:name=".notifyJobUser" />
        <activity android:name=".JobCreate" />
        <activity android:name=".jobNotifySpecific" />
        <activity android:name=".ServiceDashboard" />
        <activity android:name=".JobCreatedSpecific" />
        <activity android:name=".UserDashboard" />
        <activity android:name=".singnUpService" />
        <activity android:name=".signupUser" />
        <activity android:name=".Service_login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>